@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* animacja wysuwania obrazka z lewej */
@keyframes slideInLeft {
  0% {
    transform: translateX(-250%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(250%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.image-animation {
  animation: slideInLeft 3s ease-out forwards;
}

.text-animation {
  animation: slideInRight 3s ease-out forwards;
}
